html, body, #root{
  height: 100vh;
}

section {
  
}

.App {
  height: 100%;
  background-color: #393e46;
  color: #eeeeee;
}

.tile-row{

}



.tile{
  background-color: #eeeeee;
  color: #393e46;
  height: 100%;
}

.list__of__games .title{
  font-size: 2rem
}


.list__of__games .sub-title{
  font-size: 1.2rem
}

